<div>
    <button class="editButton" (click)="saveNote()">Save</button>
    <button (click)="cancelSave()">Cancel</button>
    <div>
        <div id="titleEdit">
            <label>Title</label>
            <textarea name="titleArea" id="titleArea" rows="1" columns="5"></textarea>
        </div>
        <div class="rightSide">
            <span>Date Created: {{selectedNote.dateCreated | date}}</span><br>
            <span>Favorite: {{selectedNote.favorite}}</span><br>
            <button (click)="changeFavStatus()">Favorite/Unfavorite</button>
        </div>
    </div>
    <textarea name="bodyArea" id="bodyArea" cols="30" rows="10"></textarea>
</div>
